<ion-header>
  <ion-navbar>
    <ion-title>Photobulary</ion-title>
    <ion-buttons start>
    </ion-buttons>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <ion-list>
      <div class="task">
        The image should contain:
      </div>
      <ion-list *ngFor="let w of word">
        <ion-label class="words">
          {{w}}
        </ion-label>
      </ion-list>
    </ion-list>
  </form>
</ion-content>